<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="ErrorAppender" />
    </root>
    <logger name="loginfo">
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <logger name="logerror">
      <level value="ERROR" />
      <appender-ref ref="ErrorAppender" />
    </logger>
    <appender name="ErrorAppender" type="lo g4net.Appender.RollingFileAppender">
      <param name="File" value="c:\Log.txt" />
      <!--日志记录的存在路径 Log\\LogError\\-->
      <param name="AppendToFile" value="true" />
      <!--为true就表示日志会附加到文件，为false，则会重新创建一个新文件-->
      <!--<param name="MaxSizeRollBackups" value="100" />-->
      <!--创建最大文件数-->
      <!--<param name="MaxFileSize" value="10240" />-->
      <!--文件大小-->
      <!--<param name="StaticLogFileName" value="false" />-->
      <!--是否指定文件名-->
      <!--<param name="DatePattern" value="yyyyMMdd" />-->
      <!--文件格式-->
      <!--<param name="RollingStyle" value="Date" />-->
      <!--创建新文件的方式，可选为Size（按文件大小），Date（按日期），Once（每启动一次创建一个文件），Composite（按日期及文件大小），默认为Composite-->
      <layout type="log4net.Layout.PatternLayout">
        <!--输出内容布局-->
        <param name="ConversionPattern" value="%n异常时间：%d [%t] %n异常级别：%-5p %n异 常 类：%c [%x] %class %method %n%m %n " />
        <!--method会影响性能-->
      </layout>
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="c:\Log.txt" />
      <param name="AppendToFile" value="true" />
      <!--<param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd" />
      <param name="RollingStyle" value="Date" />-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n日志时间：%d [%t] %n日志级别：%-5p %n日 志 类：%c [%x] %n%m %n" />
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
    <add name="XcDb" connectionString="Data Source=.;uid=sa;pwd=ok;database=XcPermissionDB;" providerName="System.Data.SqlClient" />
    <!--<add name="ManagementConnection" connectionString="Data Source=58.213.157.106,1225;uid=sa;pwd=gl.83100868@b-410;database=ManagementDB;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>